<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <form class="newDiscForm" action="/index" method="post">
        <label>Name of movie:</label>
        <input type="text" name="name" value=""><br>
        <label>What genre?</label>
        <input type="text" name="genre" value=""><br>
        <label>What year?</label>
        <input type="text" name="year" value=""><br>
        <label>MPAA Rating</label>
        <input type="text" name="filmrating" value=""><br>
        <label>Rotten Tomato Score</label>
        <input type="text" name="rottentomatoscore" value=""><br>
        <label># of Deleted Scenes</label>
        <input type="text" name="numberofdeletedscenes" value=""><br>
        <label># of Alternate Endings</label>
        <input type="text" name="numberofendings" value=""><br>
        <label>Audio Commentary Track?</label>
        <input type="text" name="audiocommentary" value=""><br>
        <label>Total Run Time in Minutes:</label>
        <input type="text" name="runtime" value=""><br>
        <button type="submit">Submit</button>
    </form>
    {{#moviez}}
    <ul>
        <li>{{name}}</li>
            <li> {{genre}} </li>
            <li> {{year}}</li>
            <li> {{mpaaRating}} </li>
            <li>{{rottenTomatoScore}} </li>
            {{#specialFeatures}}
            <li> {{deletedScenes}} </li>
            <li>{{alternateEndings}} </li>
            <li>{{audioCommentary}}</li>
            {{/specialFeatures}}
            <li>{{runTime}} </li>
    </ul>
    {{/moviez}}
</body>

</html>